
/* Variables
-----------------------------------------------------------------*/

:root {
    --maincolor: #fff;
}

$body_color: #bbbaa6;
$sub_bg: #141514;
$main_bg: #101111;
$mobile-xs-screen: 480px;
$tablet-sm-screen: 768px;
$desk-md-screen: 992px;
$desk-lg-screen: 1300px;