<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.fullstack.order.mapper.OrderItemMapper">

	<select id="selectOrderItemTotal" resultType="int">
	    SELECT COUNT(*) 
	    FROM ORDER_ITEM
	    <where>
	        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
	        	AND STR_TO_DATE(CREDAT, '%Y%m%d') BETWEEN STR_TO_DATE(#{startDate}, '%Y%m%d') AND STR_TO_DATE(#{endDate}, '%Y%m%d')
	        </if>
	        <if test="orId != null and orId != ''">
	        	AND OR_ID = #{orId}
	        </if>
	        <if test="uiName != null and uiName != ''">
	        	AND UI_NAME = #{uiName}
	        </if>
	        <if test="uiNum != null and uiNum != ''">
				AND UI_NUM = #{uiNum}
			</if>
	        <if test="payName != null and payName != ''">
	        	AND PAY_NAME = #{payName}
	        </if>
	        <if test="payMethod != null and payMethod != ''">
				AND PAY_METHOD = #{payMethod}
			</if>
	        <if test="deiReceiver != null and deiReceiver != ''">
				AND DEI_RECEIVER = #{deiReceiver}
			</if>
	        <if test="oiStatusPay != null and oiStatusPay != ''">
	        	AND OI_STATUS_PAY = #{oiStatusPay}
	        </if>
	        <if test="oiStatusDelivery != null and oiStatusDelivery != ''">
	        	AND OI_STATUS_DELIVERY = #{oiStatusDelivery}
	        </if>
	        <if test="oiCancle != null and oiCancle != ''">
	        	AND OI_CANCLE = #{oiCancle}
	        </if>
	        <if test="oiExchange != null and oiExchange != ''">
	        	AND OI_EXCHANGE = #{oiExchange}
	        </if>
	        <if test="oiReturn != null and oiReturn != ''">
	        	AND OI_RETURN = #{oiReturn}
	        </if>
	        <if test="oiRefund != null and oiRefund != ''">
	        	AND OI_REFUND = #{oiRefund}
	        </if>
	    </where>
	</select>

	
	<select id="selectOrderItems" resultType="com.shop.fullstack.order.vo.OrderItemVO">
		SELECT * 
		FROM ORDER_ITEM
		<where>
	        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
	        	AND STR_TO_DATE(CREDAT, '%Y%m%d') BETWEEN STR_TO_DATE(#{startDate}, '%Y%m%d') AND STR_TO_DATE(#{endDate}, '%Y%m%d')
	        </if>
	        <if test="orId != null and orId != ''">
	        	AND OR_ID = #{orId}
	        </if>
	        <if test="uiName != null and uiName != ''">
	        	AND UI_NAME = #{uiName}
	        </if>
	        <if test="uiNum != null and uiNum != ''">
				AND UI_NUM = #{uiNum}
			</if>
	        <if test="payName != null and payName != ''">
	        	AND PAY_NAME = #{payName}
	        </if>
	        <if test="payMethod != null and payMethod != ''">
				AND PAY_METHOD = #{payMethod}
			</if>
	        <if test="deiReceiver != null and deiReceiver != ''">
				AND DEI_RECEIVER = #{deiReceiver}
			</if>
	        <if test="oiStatusPay != null and oiStatusPay != ''">
	        	AND OI_STATUS_PAY = #{oiStatusPay}
	        </if>
	        <if test="oiStatusDelivery != null and oiStatusDelivery != ''">
	        	AND OI_STATUS_DELIVERY = #{oiStatusDelivery}
	        </if>
	        <if test="oiCancle != null and oiCancle != ''">
	        	AND OI_CANCLE = #{oiCancle}
	        </if>
	        <if test="oiExchange != null and oiExchange != ''">
	        	AND OI_EXCHANGE = #{oiExchange}
	        </if>
	        <if test="oiReturn != null and oiReturn != ''">
	        	AND OI_RETURN = #{oiReturn}
	        </if>
	        <if test="oiRefund != null and oiRefund != ''">
	        	AND OI_REFUND = #{oiRefund}
	        </if>
	    </where>
	    ORDER BY OI_NUM DESC
		LIMIT #{start}, #{pageCount}
	</select>
	
	<select id="selectOrderItemOne" resultType="com.shop.fullstack.order.vo.OrderItemVO">
		SELECT * FROM ORDER_ITEM WHERE OI_NUM=#{oiNum}
	</select>
	
	<insert id="insertOrderItem">
		INSERT INTO ORDER_ITEM (OR_ID, OI_ID, UI_NUM, UI_NAME, 
			PI_ID, PI_NAME, PI_CODE, PI_COLOR_TITLE, 
			PS_NAME, OI_PRICE, OI_COUNT, OI_TOTAL,
			PAY_NUM, PAY_NAME, DEI_NUM, DEI_RECEIVER,
			OI_STATUS, OI_STATUS_PAY, CI_NUM)
		VALUES (#{orId},#{oiId},#{uiNum},#{uiName},
			#{piId},#{piName},#{piCode},#{piColorTitle},
			#{psName},#{oiPrice},#{oiCount},#{oiTotal},
			#{payNum},#{payName},#{deiNum},#{deiReceiver},
			#{oiStatus},#{oiStatusPay},#{ciNum})
	</insert>
	
	<update id="updateOrderItem">
		UPDATE ORDER_ITEM
		SET OR_ID = #{orId},
			UI_NUM = #{uiNum},
			UI_NAME = #{uiName},
			PI_ID = #{piId},
			PI_NAME = #{piName},
			PI_CODE = #{piCode},
			PI_COLOR_TITLE = #{piColorTitle},
			PS_NAME = #{psName},
			OI_PRICE = #{oiPrice},
			OI_COUNT = #{oiCount},
			OI_TOTAL = #{oiTotal},
			PAY_NUM = #{payNum},
			PAY_NAME = #{payName},
			PAY_METHOD = #{payMethod},
			DEI_NUM = #{deiNum},
			DEI_RECEIVER = #{deiReceiver},
			DEI_INVOICENUM = #{deiInvoiceNum},
			OI_STATUS = #{oiStatus},
			OI_STATUS_PAY = #{oiStatusPay},
			OI_STATUS_DELIVERY = #{oiStatusDelivery},
			OI_CANCLE = #{oiCancle},
			OI_EXCHANGE = #{oiExchange},
			OI_RETURN = #{oiReturn},
			OI_REFUND = #{oiRefund},
			OI_CLOSED_DATE = #{oiClosedDate},
			OI_MEMO = #{oiMemo},
			CI_NUM = #{ciNum}
		WHERE OI_NUM =#{oiNum}
	</update>
	
	
	<update id="updateOrderItemPay">
		UPDATE ORDER_ITEM
		SET PAY_NUM = #{payNum},
			PAY_NAME = #{payName},
			PAY_METHOD = #{payMethod},
			OI_STATUS = #{oiStatus},
			OI_STATUS_PAY = #{oiStatusPay},
			OI_MEMO = #{oiMemo}
		WHERE OI_NUM =#{oiNum}
	</update>
	
	<update id="updateOrderItemDelivery">
		UPDATE ORDER_ITEM
		SET DEI_NUM = #{deiNum},
			DEI_RECEIVER = #{deiReceiver},
			DEI_INVOICENUM = #{deiInvoiceNum},
			OI_STATUS = #{oiStatus},
			OI_STATUS_DELIVERY = #{oiStatusDelivery},
			OI_MEMO = #{oiMemo}
		WHERE OI_NUM =#{oiNum}
	</update>
	
	<update id="updateOrderItemStatus">
		UPDATE ORDER_ITEM
		SET 
			OI_STATUS = #{oiStatus},
			OI_STATUS_PAY = #{oiStatusPay},
			OI_STATUS_DELIVERY = #{oiStatusDelivery},
			OI_CANCLE = #{oiCancle},
			OI_EXCHANGE = #{oiExchange},
			OI_RETURN = #{oiReturn},
			OI_REFUND = #{oiRefund},
			OI_CLOSED_DATE = #{oiClosedDate},
			OI_MEMO = #{oiMemo}
		WHERE OI_NUM =#{oiNum}
	</update>
	
	<delete id="deleteOrderItem">
		DELETE FROM ORDER_ITEM WHERE OI_NUM =#{oiNum}
	</delete>
</mapper>