@charset "UTF-8";
.table-card .card-body .table tr td:last-child, .table-card .card-body .table tr th:last-child, .table-body.card-body .table tr td:last-child, .table-body.card-body .table tr th:last-child {
  padding-right:0.75rem;
}
.table-card .card-body .table tr td:first-child, .table-card .card-body .table tr th:first-child, .table-body.card-body .table tr td:first-child, .table-body.card-body .table tr th:first-child{
	padding-left:0.75rem;
}
#modal-body>div{
	display:flex;
}
#modal-body>#board_content{
	display:block;
}
#modal-body dt{
	padding-right: 0.5rem;
  margin-bottom: 0.5rem;
}
