<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.shop.fullstack.product.mapper.ProductRecommendationMapper">

	<select id="selectRandomRecommendations" parameterType="map"
		resultType="com.shop.fullstack.product.vo.ProductVO">
		SELECT
		p.PI_ID,
		p.PI_NAME,
		p.PI_PRICE,
		p.PI_MAIN_CATEGORY_ID,
		p.PI_SUB_CATEGORY_ID,
		p.PI_DETAIL_CATEGORY_ID,
		(SELECT PIMG_URL
		FROM
		product_img
		WHERE PI_ID = p.PI_ID
		AND PIMG_NAME LIKE 'main_%' LIMIT 1) AS
		PIMG_URL
		FROM product p
		WHERE PI_MAIN_CATEGORY_ID = #{mainCategoryId}
		AND PI_SUB_CATEGORY_ID != #{subCategoryId}
		AND PI_ID != #{productId}
		ORDER BY RAND()
		LIMIT 4;
	</select>

	<select id="selectSameDetailCategoryRecommendations"
		resultType="com.shop.fullstack.product.vo.ProductVO">
		SELECT
		p.PI_ID,
		p.PI_NAME,
		p.PI_PRICE,
		p.PI_MAIN_CATEGORY_ID,
		p.PI_SUB_CATEGORY_ID,
		p.PI_DETAIL_CATEGORY_ID,
		(SELECT PIMG_URL
		FROM
		product_img
		WHERE PI_ID = p.PI_ID
		AND PIMG_NAME LIKE 'main_%' LIMIT 1) AS
		PIMG_URL
		FROM
		product p
		WHERE
		p.PI_DETAIL_CATEGORY_ID =
		#{detailCategoryId}
		AND p.PI_ID != #{piId}
		ORDER BY
		RAND()
		LIMIT 4;
	</select>


</mapper>